@import '../../../variables.scss';

.loader-wrapper{
    width: 200px;
    height: auto;
    background: $black;
    position: absolute;
    top: 50%;
    left: 45%;
    z-index: 100;
    .force_field {
        .sword {
          transform-style: preserve-3d;
          animation: rotate 8000ms linear infinite;
          .grip {
            position: absolute;
            bottom: 0;
            width: 6px;
            height: 30px;
            background: $white;
            transform-style: preserve-3d;
            transform: translateX(-50%) translateY(10px);
            border-radius: 0 0 99px 99px;
            &::before {
              content: '';
              position: absolute;
              width: 6px;
              height: 30px;
              background: #aaa;
              transform: rotateY(-45deg);
              border-radius: 0 0 99px 99px;
            }
            &::after {
              content: '';
              position: absolute;
              width: 6px;
              height: 30px;
              background: #ddd;
              transform: rotateY(45deg);
              border-radius: 0 0 99px 99px;
            }
          }
          .beam {
            position: absolute;
            bottom: 0;
            width: 6px;
            height: 160px;
            background: rgba(150, 150, 255, 0.8);
            transform-style: preserve-3d;
            transform: translateX(-50%) translateY(-23px);
            border-radius: 99px 99px 0 0;
            box-shadow:
              0 -5px 30px 5px rgba(0, 100, 255, 0.7),
              -10px -5px 60px 5px rgba(0, 100, 255, 1),
              -50px 15px 100px 10px rgba(0, 100, 255, 0.7);
            animation: mainBeam 10000ms ease-in-out infinite alternate;
            &::before {
              content: '';
              position: absolute;
              width: 6px;
              height: 160px;
              background: rgba(50, 100, 255, 0.8);
              transform: rotateY(-45deg);
              border-radius: 99px 99px 0 0;
              box-shadow: 0 -5px 30px 5px rgba(0, 100, 255, 0.7);
              animation: subBeam 10000ms ease-in-out infinite alternate;
            }
            &::after {
              content: '';
              position: absolute;
              width: 6px;
              height: 160px;
              background: rgba(50, 100, 255, 0.8);
              transform: rotateY(45deg);
              border-radius: 99px 99px 0 0;
              box-shadow: 0 -5px 30px 5px rgba(0, 100, 255, 0.7);
              animation: subBeam 10000ms ease-in-out infinite alternate;
            }
          }
        }
      }
}
  
  @keyframes rotate {
    0% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(360 * 3deg) rotateZ(360 * 6deg);
    }
  }
  
  @keyframes mainBeam {
    0% {
      background: rgba(150, 150, 255, 0.8);
      box-shadow:
          0 -5px 30px 5px rgba(0, 100, 255, 0.7),
          -10px -5px 60px 5px rgba(0, 100, 255, 1),
          -50px 15px 100px 10px rgba(0, 100, 255, 0.7);
    }
    20% {
      background: rgba(150, 150, 255, 0.8);
      box-shadow:
          0 -5px 30px 5px rgba(0, 100, 255, 0.7),
          -10px -5px 60px 5px rgba(0, 100, 255, 1),
          -50px 15px 100px 10px rgba(0, 100, 255, 0.7);
    }
    30% {
      background: rgba(150, 255, 150, 0.8);
      box-shadow:
          0 -5px 30px 5px rgba(0, 255, 100, 0.7),
          -10px -5px 60px 5px rgba(0, 255, 100, 1),
          -50px 15px 100px 10px rgba(0, 255, 100, 0.7);
    }
    70% {
      background: rgba(150, 255, 150, 0.8);
      box-shadow:
          0 -5px 30px 5px rgba(0, 255, 100, 0.7),
          -10px -5px 60px 5px rgba(0, 255, 100, 1),
          -50px 15px 100px 10px rgba(0, 255, 100, 0.7);
    }
    80% {
      background: rgba(250, 150, 150, 0.8);
      box-shadow:
          0 -5px 30px 5px rgba(255, 0, 50, 0.7),
          -10px -5px 60px 5px rgba(255, 0, 50, 1),
          -50px 15px 100px 10px rgba(255, 0, 50, 0.7);
    }
    100% {
      background: rgba(250, 150, 150, 0.8);
      box-shadow:
          0 -5px 30px 5px rgba(255, 0, 50, 0.7),
          -10px -5px 60px 5px rgba(255, 0, 50, 1),
          -50px 15px 100px 10px rgba(255, 0, 50, 0.7);
    }
  }
  @keyframes subBeam {
    0% {
      background: rgba(50, 100, 255, 0.8);
      box-shadow: 0 -5px 30px 5px rgba(0, 100, 255, 0.5);
    }
    20% {
      background: rgba(50, 100, 255, 0.8);
      box-shadow: 0 -5px 30px 5px rgba(0, 100, 255, 0.5);
    }
    30% {
      background: rgba(50, 255, 100, 0.8);
      box-shadow: 0 -5px 30px 5px rgba(0, 255, 100, 0.5);
    }
    70% {
      background: rgba(50, 255, 100, 0.8);
      box-shadow: 0 -5px 30px 5px rgba(0, 255, 100, 0.5);
    }
    80% {
      background: rgba(255, 100, 50, 0.8);
      box-shadow: 0 -5px 30px 5px rgba(255, 0, 50, 0.5);
    }
    100% {
      background: rgba(255, 100, 50, 0.8);
      box-shadow: 0 -5px 30px 5px rgba(255, 0, 50, 0.5);
    }
  }