@import '../../../variables.scss';

.breadcrumb-wrapper {
    padding: 6px 12px;
    display: flex;
    list-style: none;
    li, a {
        font-size: 20px;
        color: $white;
        margin-left: 10px;
        font-family: 'karla';
        text-shadow:
    0 0 5px red, 0 0 4px $turquoise, 
    0 0 4px $turquoise, 0 0 4px $turquoise, 
    0 0 4px $turquoise, 0 0 4px $turquoise, 0 0 4px $turquoise;
    }
    li {
        position: relative;
        &:not(:last-child):after {
            content: '/';
            display: block;
            font-size: 20px;
            font-weight: bold;
            position: absolute;
            top: 0;
            right: -14px;
        }
    }
    a {
        text-decoration: none;
    }
}