<div class="modal-wrapper">
    <div class="main-info">
        <app-rotation-loader *ngIf="(loader$ | async)"></app-rotation-loader>
        <div *ngIf="!(loader$ | async)" class="main-info-img-box">
            <img class="card-img" src="/assets/starships/{{uri}}.jpg" alt="character-image">
            <div class="data">
                <h2 [ngClass]="neon">{{ (data$ | async)?.name }}</h2>
                <p><span class="prop-info">Model:</span> {{ (data$ | async)?.model }}</p>
                <p><span class="prop-info">Manufacturer:</span> {{ (data$ | async)?.manufacturer }}</p>
                <p><span class="prop-info">Class:</span> {{ (data$ | async)?.starship_class }}</p>
                <p><span class="prop-info">Cost:</span> {{ (data$ | async)?.cost_in_credits }} credits</p>
                <p><span class="prop-info">Speed:</span> {{ (data$ | async)?.max_atmosphering_speed }} km/h</p>
                <p><span class="prop-info">Length:</span> {{ (data$ | async)?.length }} m</p>
                <p><span class="prop-info">Cargo Capacity:</span> {{ (data$ | async)?.cargo_capacity }} kg</p>
                <p><span class="prop-info">Mimimum Crew:</span> {{ (data$ | async)?.crew }}</p>
                <p><span class="prop-info">Passengers:</span> {{ (data$ | async)?.passengers }}</p>
                <p><span class="prop-info">MGLT:</span> {{ (data$ | async)?.MGLT }}</p>
            </div>
        </div>
    </div>
    <div class="related-data">
        <div class="related-data-card">
            <div class="title">Related Films</div>
            <app-related-section-loader *ngIf="(relatedFilmsLoading$ | async)"></app-related-section-loader>
            <ul>
                <li *ngFor="let item of (relatedFilms$ | async)" (click)="visitRelatedLink(item.url, 'films')">
                    <img class="rel-card-img" [src]="'/assets/films/' + getId(item.url) + '.jpg'" alt="">
                    <p>{{item.title}}</p>
                </li>
            </ul>
        </div>
        <div class="related-data-card">
            <div class="title">Related Pilots</div>
            <app-related-section-loader *ngIf="(relatedCharactersLoading$ | async)"></app-related-section-loader>
            <ul>
                <li *ngFor="let item of (relatedCharacters$ | async)" (click)="visitRelatedLink(item.url, 'characters')">
                    <img class="rel-card-img" [src]="'/assets/characters/' + getId(item.url) + '.jpg'" alt="">
                    <p>{{item.name}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>

