<div class="modal-wrapper">
    <div class="main-info">
        <app-rotation-loader *ngIf="(loader$ | async)"></app-rotation-loader>
        <div *ngIf="!(loader$ | async)" class="main-info-img-box">
            <img class="card-img" src="/assets/characters/{{uri}}.jpg" alt="character-image">
            <div class="data">
                <h2 [ngClass]="neon">{{ (data$ | async)?.name }}</h2>
                <p><span class="prop-info">Birth Year:</span> {{ (data$ | async)?.birth_year }}</p>
                <p><span class="prop-info">Gender:</span> {{ (data$ | async)?.gender }}</p>
                <p><span class="prop-info">Height:</span> {{ (data$ | async)?.height }} cm</p>
                <p><span class="prop-info">Mass:</span> {{ (data$ | async)?.mass }} kg</p>
                <p><span class="prop-info">Skin Color:</span> {{ (data$ | async)?.skin_color }}</p>
                <p><span class="prop-info">Hair Color:</span> {{ (data$ | async)?.hair_color }}</p>
                <p> 
                    <span class="prop-info">Homeworld:</span>
                    <span class="homeworld-link" (click)="visitPlanet()">{{ ' ' + (planet$ | async)?.name}}</span>
                </p>
                <p> 
                    <span class="prop-info">Species:</span>
                    <span class="homeworld-link" (click)="visitSpecie()">{{ ' ' + (specie$ | async)?.name}}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="related-data">
        <div *ngIf="(relatedFilms$ | async)?.length" class="related-data-card">
            <div class="title">Related Films</div>
            <ul>
                <li *ngFor="let item of (relatedFilms$ | async)">
                    <img class="rel-card-img" [src]="'/assets/films/' + getId(item.url) + '.jpg'" alt="">
                    <p>{{item.title}}</p>
                </li>
            </ul>
        </div>
        <div *ngIf="(relatedStarships$ | async)?.length" class="related-data-card">
            <div class="title">Related Starships</div>
            <ul>
                <li *ngFor="let item of (relatedStarships$ | async)">
                    <img class="rel-card-img" [src]="'/assets/starships/' + getId(item.url) + '.jpg'" alt="">
                    <p>{{item.name}}</p>
                </li>
            </ul>
        </div>
        <div *ngIf="(relatedVehicles$ | async)?.length" class="related-data-card">
            <div class="title">Related Vehicles</div>
            <ul>
                <li *ngFor="let item of (relatedVehicles$ | async)">
                    <img class="rel-card-img" [src]="'/assets/vehicles/' + getId(item.url) + '.jpg'" alt="">
                    <p>{{item.name}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>