@import '../../../variables.scss';

.modal-wrapper {
    width: 90vw;
    margin: 20px auto 20px;
    background: transparent;
    padding: 20px;
    .main-info {
        min-height: 400px;
        &-img-box {
            display: flex;
            @media screen and (max-width: 768px) {
                flex-direction: column-reverse;
            }
            .card-img {
                height: 400px;
                object-fit: cover;
                object-position: top center;
                border-radius: 20px;
                @media screen and (max-width: 1024px) {
                    height: 300px;
                }
                @media screen and (max-width: 768px) {
                    object-fit: contain;
                    border-radius: 0;
                }
            }
            .data {
                font-size: 20px;
                color: $white;
                margin-left: 20px;
                font-family: $karla;
                h2 {
                    margin-bottom: 20px;
                    color: #fff;
                    @media screen and (max-width: 1024px) {
                        font-size: 24px;
                    }
                }
                p {
                    font-size: 20px;
                    margin-bottom: 10px;
                    color: $yellow;
                    @media screen and (max-width: 1024px) {
                        font-size: 16px;
                    }
                }
                .prop-info {
                    opacity: 0.6;
                    color: $white;
                }
                .homeworld-link {
                    cursor: pointer;
                    color: $magenta;
                    &:hover {
                        color: $turquoise;
                    }
                }
                .neon-green {
                    @include neon-green;
                }
                .neon-purple {
                    @include neon-purple;
                }
                .neon-red {
                    @include neon-red;
                }
                .neon-blue {
                    @include neon-blue;
                }
                .justify {
                    width: 80%;
                    text-align: justify;
                    @media screen and (max-width: 1440px) {
                        width: 100%;
                    }
                }
                
            }
        }
    }
    .related-data {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 30px;
        &-card {
            width: 30%;
            margin: 0 8px;
            min-height: 300px;
            backdrop-filter: blur(2px);
            margin-bottom: 20px;
            position: relative;
            .title {
                color: $white;
                font-family: $karla;
                text-align: center;
                padding: 14px;
                font-weight: bold;
                border-bottom: 1px solid $white;
            }
            ul {
                display: flex;
                justify-content: space-around;
                list-style: none;
                flex-wrap: wrap;
                height: 300px;
                overflow-y: auto;
                @media screen and (max-width: 1024px) {
                    height: 200px;
                    overflow-x: hidden;
                }
                li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 8px 4px;
                    margin: 0 4px;
                    @media screen and (max-width: 736px) {
                        border: 1px solid $white;
                        min-height: 30px;
                        margin: 4px 0;
                    }
                    .rel-card-img {
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        object-position: top center;
                        border-radius: 50%;
                        @media screen and (max-width: 1024px) {
                            width: 30px;
                            height: 30px;
                        }
                        @media screen and (max-width: 736px) {
                            display: none;
                        }
                    }
                    p {
                        width: 100px;
                        font-family: $karla;
                        text-align: center;
                        color: $white;
                        @media screen and (max-width: 1024px) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px #143d59;
  border-radius: 50px;
  overflow: hidden;
}
::-webkit-scrollbar-thumb {
  background: #4a586a;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #6a7078;
}