@import '../../../variables.scss';

.app-wrapper {
    width: 100vw;
    height: 100vh;
    .app-content {
        padding-top: 50px;
        display: flex;
        justify-content: space-around;
        width: 1290px;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    @media screen and (max-width: 1440px) {
        .app-content {
            width: 100vw;
        }
        
    }
}