
<div class="content-wrap">
    <app-loader *ngIf="loader$ | async"></app-loader>
    <div class="btw-box">
        <button class="custom-btn neon" (click)="goToPrevPage()"><span>Go</span><span>Previous</span></button>
        <ul class="paginator">
            <li *ngFor="let i of pageArray" [ngClass]="i === page ? 'selected' : ''" (click)="goToPage(i)">{{i}}</li>
        </ul>
        <button class="custom-btn neon" (click)="goToNextPage()"><span>Go</span><span>Next</span></button>
    </div>
    <div class="content" *ngIf="!(loader$ | async)">
        <div class="cards-box">
            <div class="card" *ngFor="let specie of results$ | async" (click)="openDetailsPage(specie.url)">
                <div class="img">
                    <img src="assets/species/{{getImg(specie.url)}}.jpg" alt="">
                </div>
                <div class="info">
                    <h3>{{specie.name}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
