<div class="modal-wrapper">
    <div class="main-info">
        <app-rotation-loader *ngIf="(loader$ | async)"></app-rotation-loader>
        <div *ngIf="!(loader$ | async)" class="main-info-img-box">
            <img class="card-img" src="/assets/films/{{uri}}.jpg" alt="character-image">
            <div class="data">
                <h2 [ngClass]="!neon ? getRandomInt(): neon">{{ (data$ | async)?.title }}</h2>
                <p><span class="prop-info">Date Created:</span> {{ getReleaseDate((data$ | async)?.release_date) }}</p>
                <p><span class="prop-info">Director:</span> {{ (data$ | async)?.director }}</p>
                <p><span class="prop-info">Producer(s):</span> {{ (data$ | async)?.producer }}</p>
                <p><span class="prop-info">Opening Crawl:</span> {{ (data$ | async)?.opening_crawl }}</p>
            </div>
        </div>
        <div class="main-info-releted-data"></div>
    </div>
</div>
