<div class="modal-wrapper">
    <div class="main-info">
        <app-rotation-loader *ngIf="(loader$ | async)"></app-rotation-loader>
        <div *ngIf="!(loader$ | async)" class="main-info-img-box">
            <img class="card-img" src="/assets/films/{{uri}}.jpg" alt="character-image">
            <div class="data">
                <h2 [ngClass]="neon">{{ (data$ | async)?.title }}</h2>
                <p><span class="prop-info">Date Created:</span> {{ getReleaseDate((data$ | async)?.release_date) }}</p>
                <p><span class="prop-info">Director:</span> {{ (data$ | async)?.director }}</p>
                <p><span class="prop-info">Producer(s):</span> {{ (data$ | async)?.producer }}</p>
                <p><span class="prop-info justidfied">Opening Crawl:</span> {{ (data$ | async)?.opening_crawl }}</p>
            </div>
        </div>
    </div>
    <div class="related-data">
        <div *ngIf="(relatedCharacters$ | async)?.length" class="related-data-card">
            <div class="title">Related Characters</div>
            <ul>
                <li *ngFor="let item of (relatedCharacters$ | async)">
                    <img class="rel-card-img" [src]="'/assets/characters/' + getId(item.url) + '.jpg'" alt="">
                    <p>{{item.name}}</p>
                </li>
            </ul>
        </div>
        <div *ngIf="(relatedPlanets$ | async)?.length" class="related-data-card">
            <div class="title">Related Planets</div>
            <ul>
                <li *ngFor="let item of (relatedPlanets$ | async)">
                    <img class="rel-card-img" [src]="'/assets/planets/' + getId(item.url) + '.jpg'" alt="">
                    <p>{{item.name}}</p>
                </li>
            </ul>
        </div>
        <div *ngIf="(relatedVehicles$ | async)?.length" class="related-data-card">
            <div class="title">Related Vehicles</div>
            <ul>
                <li *ngFor="let item of (relatedVehicles$ | async)">
                    <img class="rel-card-img" [src]="'/assets/vehicles/' + getId(item.url) + '.jpg'" alt="">
                    <p>{{item.name}}</p>
                </li>
            </ul>
        </div>
        <div *ngIf="(relatedStarships$ | async)?.length" class="related-data-card">
            <div class="title">Related Starships</div>
            <ul>
                <li *ngFor="let item of (relatedStarships$ | async)">
                    <img class="rel-card-img" [src]="'/assets/starships/' + getId(item.url) + '.jpg'" alt="">
                    <p>{{item.name}}</p>
                </li>
            </ul>
        </div>
        <div *ngIf="(relatedSpecies$ | async)?.length" class="related-data-card">
            <div class="title">Related Species</div>
            <ul>
                <li *ngFor="let item of (relatedSpecies$ | async)">
                    <img class="rel-card-img" [src]="'/assets/species/' + getId(item.url) + '.jpg'" alt="">
                    <p>{{item.name}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
