<div class="modal-wrapper">
    <div class="main-info">
        <app-rotation-loader *ngIf="(loader$ | async)"></app-rotation-loader>
        <div *ngIf="!(loader$ | async)" class="main-info-img-box">
            <img class="card-img" src="/assets/films/{{uri}}.jpg" alt="character-image">
            <div class="data">
                <h2 [ngClass]="neon">{{ (data$ | async)?.title }}</h2>
                <p><span class="prop-info">Date Created:</span> {{ getReleaseDate((data$ | async)?.release_date) }}</p>
                <p><span class="prop-info">Director:</span> {{ (data$ | async)?.director }}</p>
                <p><span class="prop-info">Producer(s):</span> {{ (data$ | async)?.producer }}</p>
                <p class="justify"><span class="prop-info">Opening Crawl:</span> {{ (data$ | async)?.opening_crawl }}</p>
            </div>
        </div>
    </div>
    <div class="related-data">
        <div class="related-data-card">
            <div class="title">Related Characters</div>
            <app-related-section-loader *ngIf="(relatedCharactersLoading$ | async)"></app-related-section-loader>
            <ul>
                <li *ngFor="let item of (relatedCharacters$ | async)" (click)="visitRelatedLink(item.url, 'characters')">
                    <img class="rel-card-img" [src]="'/assets/characters/' + getId(item.url) + '.jpg'" alt="">
                    <p>{{item.name}}</p>
                </li>
            </ul>
        </div>
        <div class="related-data-card">
            <div class="title">Related Planets</div>
            <app-related-section-loader *ngIf="(relatedPlanetsLoading$| async)"></app-related-section-loader>
            <ul>
                <li *ngFor="let item of (relatedPlanets$ | async)" (click)="visitRelatedLink(item.url, 'planets')">
                    <img class="rel-card-img" [src]="'/assets/planets/' + getId(item.url) + '.jpg'" alt="">
                    <p>{{item.name}}</p>
                </li>
            </ul>
        </div>
        <div class="related-data-card">
            <div class="title">Related Vehicles</div>
            <app-related-section-loader *ngIf="(relatedVehiclesLoading$ | async)"></app-related-section-loader>
            <ul>
                <li *ngFor="let item of (relatedVehicles$ | async)" (click)="visitRelatedLink(item.url, 'vehicles')">
                    <img class="rel-card-img" [src]="'/assets/vehicles/' + getId(item.url) + '.jpg'" alt="">
                    <p>{{item.name}}</p>
                </li>
            </ul>
        </div>
        <div class="related-data-card">
            <div class="title">Related Starships</div>
            <app-related-section-loader *ngIf="(relatedStarshipsLoading$ | async)"></app-related-section-loader>
            <ul>
                <li *ngFor="let item of (relatedStarships$ | async)" (click)="visitRelatedLink(item.url, 'starships')">
                    <img class="rel-card-img" [src]="'/assets/starships/' + getId(item.url) + '.jpg'" alt="">
                    <p>{{item.name}}</p>
                </li>
            </ul>
        </div>
        <div class="related-data-card">
            <div class="title">Related Species</div>
            <app-related-section-loader *ngIf="(relatedSpeciesLoading$| async)"></app-related-section-loader>
            <ul>
                <li *ngFor="let item of (relatedSpecies$ | async)" (click)="visitRelatedLink(item.url, 'species')">
                    <img class="rel-card-img" [src]="'/assets/species/' + getId(item.url) + '.jpg'" alt="">
                    <p>{{item.name}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
