@import '../../../variables.scss';

.characters-wrapper {
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    .stars, .twinkling, .clouds {
      position:absolute;
      display:block;
      top:0; bottom:0;
      left:0; right:0;
      width:100vw; height:100vh;
      z-index: -1;
    }
    
    .stars {
      z-index: 0;
      background: $black url('https://i.imgur.com/YKY28eT.png') repeat top center;
    }
    
    .twinkling{
      z-index: 1;
      background:transparent url('https://i.imgur.com/XYMF4ca.png') repeat top center;
      animation: move-twink-back 200s linear infinite;
    }
    
    .clouds{
      z-index: 2;
        background:transparent url('https://i.imgur.com/mHbScrQ.png') repeat top center;
      animation: move-clouds-back 200s linear infinite;
      overflow-x: hidden;
      overflow-y: auto;
    }
    
    @keyframes move-twink-back {
      from {background-position:0 0;}
      to {background-position:-10000px 5000px;}
    }
    
    @keyframes move-clouds-back {
      from {background-position:0 0;}
      to {background-position:10000px 0;}
    }

    .btw-box {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        width: 100%;
        .paginator {
            width: 600px;
            display: flex;
            justify-content: space-between;
            li {
                width: 40px;
                height: 40px;
                background: $black;
                box-shadow: 0 0 5px $turquoise, 0 0 7px $turquoise inset;
                color: $turquoise;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Karla';
                cursor: pointer;
                border: 1px solid $turquoise;
            }
            .selected {
                background: $turquoise;
                color: $black;
                font-weight: bold;
            }
        }
        .custom-btn {
            color: $white;
            width: 130px;
            height: 40px;
            padding: 10px 25px;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
          }
          .neon{
            color: $turquoise;
            position: relative;
            right: 20px;
            bottom: 20px;
            border:none;
            width: 130px;
            height: 40px;
            line-height: 40px;
            -webkit-perspective: 230px;
            perspective: 230px;
          }
          .neon span {
            display: block;
            position: absolute;
            width: 130px;
            height: 40px;
            border: 1px solid $turquoise;
            box-shadow: 0 0 5px $turquoise, 0 0 5px $turquoise inset;
            margin:0;
            text-align: center;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all .3s;
            transition: all .3s;
          }
          .neon span:nth-child(1) {
            box-shadow: 0 0 5px $turquoise, 0 0 5px $turquoise inset;
            -webkit-transform: rotateX(90deg);
            -moz-transform: rotateX(90deg);
            transform: rotateX(90deg);
            -webkit-transform-origin: 50% 50% -20px;
            -moz-transform-origin: 50% 50% -20px;
            transform-origin: 50% 50% -20px;
          }
          .neon span:nth-child(2) {
            -webkit-transform: rotateX(0deg);
            -moz-transform: rotateX(0deg);
            transform: rotateX(0deg);
            -webkit-transform-origin: 50% 50% -20px;
            -moz-transform-origin: 50% 50% -20px;
            transform-origin: 50% 50% -20px;
          }
          .neon:hover span:nth-child(1) {
            -webkit-transform: rotateX(0deg);
            -moz-transform: rotateX(0deg);
            transform: rotateX(0deg);
          }
          .neon:hover span:nth-child(2) {
            background: $black;
            color: $black;
            box-shadow: 0 0 5px $turquoise, 0 0 5px $turquoise inset;
            -webkit-transform: rotateX(-90deg);
            -moz-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
          }
          
    }
    .content {
        max-width: 100vw;
        min-height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .cards-box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 40px 100px;
            .card {
                width: 16%;
                margin: 0 2%;
                border: 1px solid;
                border-radius: 8px;
                overflow: hidden;
                margin-bottom: 40px;
                min-width: 200px;
                // box-shadow: gray 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, $white 0px -2px 6px 0px inset;
                .img img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    object-position: center top;
                }
                .info {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    background: $white;
                    h3 {
                        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        font-weight: 100;
                    }
                }
            }
        }
    }
}