@import '../../../variables.scss';

.content-wrap {
  .btw-box {
      display: flex;
      justify-content: space-around;
      padding: 20px;
      width: 100%;
      .paginator {
          width: 600px;
          display: flex;
          justify-content: space-between;
          @media screen and (max-width: 1290px) {
            position: relative;
            top: -5px;
          }
          @media screen and (max-width: 991px) {
            width: 500px;
          }
          @media screen and (max-width: 800px) {
            width: 400px;
          }
          @media screen and (max-width: 680px) {
            width: 200px;
            display: flex;
            flex-wrap: wrap;
          }
           @media screen and (max-width: 535px) {
                width: 80%;
              }
          li {
              width: 40px;
              height: 40px;
              background: $black;
              box-shadow: 0 0 5px $turquoise, 0 0 7px $turquoise inset;
              color: $turquoise;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-family: $karla;
              cursor: pointer;
              border: 1px solid $turquoise;
              &:hover {
                box-shadow: 0 0 5px $magenta, 0 0 7px $magenta inset;
                color: $magenta;
                border: 1px solid $magenta;
              }
              @media screen and (max-width: 1290px) {
                width: 24px;
                height: 24px;
              }
              @media screen and (max-width: 680px) {
                margin: 6px;
              }
          }
          .selected {
              background: $turquoise;
              color: $black;
              font-weight: bold;
              &:hover {
                box-shadow: 0 0 5px $turquoise, 0 0 7px $turquoise inset;
                border: 1px solid $turquoise;
                color: $black;
              }
          }
      }
      .custom-btn {
          color: $white;
          width: 130px;
          height: 40px;
          padding: 10px 25px;
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          background: transparent;
          cursor: pointer;
          transition: all 0.3s ease;
          position: relative;
          display: inline-block;
          @media screen and (max-width: 1290px) {
            width: 80px;
            height: 24px;
          }
          @media screen and (max-width: 535px) {
            display: none;
          }
        }
        .neon{
          color: $turquoise;
          position: relative;
          right: 20px;
          bottom: 20px;
          border:none;
          width: 130px;
          height: 40px;
          line-height: 40px;
          -webkit-perspective: 230px;
          perspective: 230px;
          @media screen and (max-width: 1290px) {
            width: 80px;
            height: 24px;
          }
        }
        .neon span {
          display: block;
          position: absolute;
          width: 130px;
          height: 40px;
          border: 1px solid $turquoise;
          box-shadow: 0 0 5px $turquoise, 0 0 5px $turquoise inset;
          margin:0;
          text-align: center;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transition: all .3s;
          transition: all .3s;
          @media screen and (max-width: 1290px) {
            width: 80px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .neon span:nth-child(1) {
          box-shadow: 0 0 5px $turquoise, 0 0 5px $turquoise inset;
          -webkit-transform: rotateX(90deg);
          -moz-transform: rotateX(90deg);
          transform: rotateX(90deg);
          -webkit-transform-origin: 50% 50% -20px;
          -moz-transform-origin: 50% 50% -20px;
          transform-origin: 50% 50% -20px;
        }
        .neon span:nth-child(2) {
          -webkit-transform: rotateX(0deg);
          -moz-transform: rotateX(0deg);
          transform: rotateX(0deg);
          -webkit-transform-origin: 50% 50% -20px;
          -moz-transform-origin: 50% 50% -20px;
          transform-origin: 50% 50% -20px;
        }
        .neon:hover span:nth-child(1) {
          -webkit-transform: rotateX(0deg);
          -moz-transform: rotateX(0deg);
          transform: rotateX(0deg);
        }
        .neon:hover span:nth-child(2) {
          background: $black;
          color: $black;
          box-shadow: 0 0 5px $turquoise, 0 0 5px $turquoise inset;
          -webkit-transform: rotateX(-90deg);
          -moz-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
        }
        @media screen and (max-width: 1290px) { 
          .neon span:nth-child(1) {
            box-shadow: 0 0 5px $turquoise, 0 0 5px $turquoise inset;
            -webkit-transform: rotateX(90deg);
            -moz-transform: rotateX(90deg);
            transform: rotateX(90deg);
            -webkit-transform-origin: 50% 50% -14px;
            -moz-transform-origin: 50% 50% -14px;
            transform-origin: 50% 50% -14px;
          }
          .neon span:nth-child(2) {
            -webkit-transform: rotateX(0deg);
            -moz-transform: rotateX(0deg);
            transform: rotateX(0deg);
            -webkit-transform-origin: 50% 50% -14px;
            -moz-transform-origin: 50% 50% -14px;
            transform-origin: 50% 50% -14px;
          }
        }
        
  }
  .content {
      max-width: 100vw;
      min-height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .cards-box {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: 40px 100px;
          @media screen and (max-width: 1290px) {
            display: flex;
            padding: 40px;
          }
          @media screen and (max-width: 1290px) {
            display: flex;
            justify-content: space-around;
          }
          .card {
              width: 16%;
              margin: 0 2%;
              border: 1px solid;
              border-radius: 8px;
              overflow: hidden;
              margin-bottom: 40px;
              min-width: 200px;
              // box-shadow: gray 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, $white 0px -2px 6px 0px inset;
              .img img{
                  width: 100%;
                  height: 300px;
                  object-fit: cover;
                  object-position: center top;
              }
              .info {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  min-height: 60px;
                  background: $white;
                  padding: 0 18px;
                  h3 {
                      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                      font-weight: 100;
                  }
              }
          }
      }
  }
}
