<div class="characters-wrapper">
    <app-header></app-header>
    <app-loader *ngIf="loader$ | async"></app-loader>
    <div class="content" *ngIf="!(loader$ | async)">
        <div class="cards-box">
            <div class="card" *ngFor="let character of results$ | async">
                <div class="img">
                    <img src="assets/characters/{{getImg(character.url)}}.jpg" alt="">
                </div>
                <div class="info">
                    <h3>{{character.name}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="btw-box">
        <button (click)="goToPrevPage()">Prev</button>
        <button (click)="goToNextPage()">Next</button>
    </div>
</div>