@font-face {
    font-family: "monoton";
    src: url('./assets/fonts/Monoton-Regular.ttf');
}
@font-face {
    font-family: "Karla";
    src: url('./assets/fonts/Karla-Regular.ttf');
}

* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}
